**/__pycache__
.pytest_cache
**/*.py[cod]
**/*$py.class
**/*.mo
**/*.pot

*.egg-info
*.egg
.eggs

.terraform
.cache
.coverage
.idea
.git

.mypy_cache
.dmypy.json
dmypy.json

docs/build
build
dist
kube
terraform
env*
.env*
venv*
.venv*
htmlcov
dev

*.sublime-project
*.sublime-workspace
*.sw*
*~

.DS_Store

*credentials*.json
*credentials*.csv
client_secret_*.json
google-oauth-configs.json
*.keystore
*.pem

secret.yaml
config.yaml
.env
*.tfvars

.static/
data.db
