__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
*.mo
*.pot

*.egg-info/
*.egg
.eggs/

.terraform/
.cache/
.coverage
.idea


.mypy_cache/
.dmypy.json
dmypy.json

docs/build/
build/
builds/
dist/
pip-wheel-metadata/
wheelhouse/
cache/

env*/
.env*/
venv*/
.venv*/
htmlcov/
courses/dev/pgdb/

*.sublime-project
*.sublime-workspace
*.sw*
*~

.DS_Store

*credentials*.json
*credentials*.csv
client_secret_*.json
*.keystore
*.pem

secret.yml
config.yml
.env
*.tfvars
schema.*
dbschema.*
dev/pgdb
.localenv
celerybeat*


.static/
.media/
data.db
