DJANGO_SECRET_KEY=lSu++8iV5rwcgNEKoQw3fTp4GFHUq1S/lTbiWBferTUEo=
DJANGO_JWT_SECRET_KEY=lSu++8iV5rwcgNEKoQw3fTp4GFHUq1S/lTbiergB2TUEo=

DJANGO_DEBUG=True
DOCKER=False
DJANGO_READ_DOTENV_FILE=True
DJANGO_SETTINGS_MODULE=config.settings.local
DEVEL=false

DOCKER_FILE_PATH=./compose/production/django/Dockerfile
POSTGRES_PASSWORD=courses
POSTGRES_USER=courses
POSTGRES_DB=courses
POSTGRES_HOST=postgres-dev
POSTGRES_PORT=5432

DJANGO_MAILGUN_API_KEY=
DJANGO_MAILGUN_DOMAIN_NAME=courses.wegraph.net
DJANGO_MAILGUN_FROM=recruiting@courses.wegraph.net
